/* SEGUNDA/TERCEIRA SEÇÃO */

.container__secao {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__secao .container__secao--conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    row-gap: 3.5rem;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--img1 {
    width: 20.5rem;
    height: 20rem;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--textos {
    max-width: 36.6875rem;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--textos .container__secao--conteudo--textos-titulo {
    color: var(--azul-vibrante);
    font-family: "Krona One", sans-serif;
    font-size: 1.625rem;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--textos .container__secao--conteudo--textos-infos {
    font-family: "Montserrat", sans-serif;
    font-size: .9375rem;
    color: var(--lilas-escuro);
    margin: 1rem 0;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--textos object {
    width: 100%;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--img2 {
    width: 20.375rem;
    height: 20.625rem;
}

.container__secao .container__secao--conteudo .container__secao--conteudo--img2:nth-child(2) {
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    /* Tablet */

    .container__secao {
        margin: 2.5rem 3.75rem;
    }

    .container__secao .container__secao--conteudo .container__secao--conteudo--img1 {
        width: 40.5rem;
    }

    .container__secao .container__secao--conteudo .container__secao--conteudo--img2 {
        width: 19.5rem;
        height: 20rem;
    }

    .container__secao .container__secao--conteudo .container__secao--conteudo--textos .container__secao--conteudo--textos-titulo {
        font-size: 1.9375rem;
    }

    .container__secao .container__secao--conteudo .container__secao--conteudo--textos .container__secao--conteudo--textos-infos {
        font-size: 1.375rem;
    }

    .container__secao .container__secao--conteudo .container__secao--conteudo--img2:nth-child(2) {
        padding-top: 0;
        padding-left: 1.5rem;
    }

}

@media screen and (min-width: 1440px) {

    .container__secao {
      margin-left: 7.5rem;
      margin-right: 7.5rem;
    }
  
    .container__secao .container__secao--conteudo {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 6.375rem;
    }
  
    .container__secao .container__secao--conteudo .container__secao--conteudo--img1 {
      width: 31.75rem;
    }
  
    .container__secao .container__secao--conteudo .container__secao--conteudo--img2 {
      width: 14.3125rem;
      height: 20rem;
    }

}
